/*-----------------This is the Reset----------------------*/
* {
  margin:0;
  padding:0;
  box-sizing:0;
  border: 1px solid yellow;
}

iframe{
  pointer-events: none;
}

img{
  max-width: 100%;
}

/*----Universal styles----*/
h1 {
  font-size: 50px;
  font-family: 'Rammetto One', cursive;
}

h2 {
  font-size: 25px;
  font-family: 'Merriweather', serif;
}

p {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

.no-padding {
  padding: 0;
}

.padding {
  padding: 0vh 10vw;
}

.paddingright {
  padding-right: 10vw;
}

.paddingleft {
  padding-left: 10vw;
}

.fullheight {
  min-height: 100vh;
}

/*----Header-------*/
header {
  height: 80px;
}

.centreheight {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

.banner {
  height: calc(100vh - 80px);
}

/*---Keen-----*/
.keencta {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}


/*----Love list-------*/
.threegridheight {
  padding-top: 13vh;
  padding-bottom: 13vh;
}
