<!--This is where the logo and nav will go-->
</header>

<header class="top-header clearfix">
  <a class="logo" href="/index.html"> <img src="/images/MC_Logo.png"/></a>

  <nav>
    <div class="nav-items list-unstyled">
        <a href="/index.html#features">Features</a>
        <a href="/index.html#in-action">Millie in Action</a>
        <a href="/index.html#shit-millie-says">Shit Millie Says</a>
        <a href="/index.html#love-list">Love List</a>
        <a href="/index.html#contact">Contact</a>
    </div>
    <button class="nav-button" type="button" name="button">=</button>
  </nav>
</header>
