---
layout: default
---

<section class="love-list-banner">
  <div class="slider-image" style="background-image: url(/images/quay_slider.jpg)">

  <h1>
    {{ page.title }}
  </h1>
</section>
<div class="grid">
  <aside class="love-list-details col-4_md-12_sm-12 padding-indent">
    <h5>
      Rating: <p>{{ page.rating }}</p>
    </h5>
    <h5>
      Price: <p>{{ page.price }}</p>
    </h5>
    <h5>
      Address: <p>{{ page.address }}</p>
    </h5>
  </aside>
  <section class="love-list-text col-8_md-12_sm-12 padding-indent">
    <p class="lovelist-intro">
      {{ page.intro }}
    </p>
    <p>
      {{ page.content }}
    </p>
  </section>
  <section class="col-12">
    <iframe src="{{ page.map }}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</div>
